CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Werror
    - -std=c++20
    - -Iinclude
    - -Isrc
    - -Iapp
    - -Iexternal/snmalloc/src
    - -Iexternal/SPSCQueue/include/rigtorp

Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  Suppress:
    - missing-template-arg-list-after-template-kw